<div class="text-center">
<p id="notice"><%= notice %></p>

<h2>
  <strong>User:</strong>
  <%= @comment.user_id %>
</h2>

<h2>
  <strong>Event:</strong>
  <%= @comment.event_id %>
</h2>

<h2>
  <strong>Body:</strong>
  <%= @comment.body %>
</h2>
<h2>
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
</h2>
</div>